
/* Navber */

#Nav{
 width: 100%;
 height: 70px;
 border-bottom: 1px solid rgba(107, 104, 104, 0.903);

}


#NavLink{
  width: 35%;
  height: 50px;
  border: 2px solid black;
  display: flex;
  align-items:center ;
  justify-content: space-evenly;
}
#NavLink ul{
  list-style: none;
  gap: 25px;
  justify-content: space-evenly;
  align-items: center;
}
#NavLink ul li a{
  text-decoration: none;
  color: black;
}