
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}


/* Navber */

#Nav{
 width: 100%;
 min-height: 70px;

 display: flex;
 justify-content: space-around;
 align-items: center;
 box-shadow: 0px 0.5px 0.5px rgba(128, 128, 128, 0.8);
  position: relative;

}
/* Menu */
#Menu{
  
  position: absolute;
  width: 32px;
  height: 32px;
  left: 20px;


}
.Menu{
  visibility: hidden;
}


/* Nav Link Btn */


/* Logo */

#Logo{
  width: 20%;
  height: 60px;
 
  display: flex;
  flex-direction: column;
align-items: center;
justify-content:center ;
cursor: pointer;

 
}

#Logo h3{
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

#Logo h6{
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}

/* NavFunc */

#Navfunc{
  width: 25%;
  height: 60px;
 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

}

#Navfunc #Nav-box button{
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: blueviolet;
}

#Navfunc span{
  position: absolute;
  right: 40px;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  font-size: 12px;

  color: white;
  top: 5px;
}

/*Hero section  */
.Section1{
  min-height: 90vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.HeroSubbox{
  width: 100%;
  min-height: 150px;

}
.Section1 #Box2{
  height: 600px;
  width: 600px;
}
.HeroImg{
  width: 100%;
  height: 100%;
  
}
.HeroImg img{
  width: 100%;
  height: 100%;
  background-size: cover;
 
}

#HeroIcon{
  cursor: pointer;
  background-color: black;
}
#HeroIcon:hover{
  background-color: blueviolet;
}

/* Product section */
.ProductSection{
  width: 100%;
  min-height: 70vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Product-sub-box{
  width: 350px;
  height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  
  
}
.Product-sub-box .img-box{

  width: 100%;
  height: 50vh;
  
}

.Product-sub-box .img-box img{
  width: 100%;
  height: 100%;
 
  background-size: cover;
}

/* About Section  */

.AboutSection{
  min-height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  column-gap: 40px;
}

/* AccessoriesSection */

.AccessoriesSection{
  min-height: 100vh;
  width: 100%;
  position: relative;

}

.AccessoriesSection .A-Box1{
  position: absolute;
  height: 70vh;
  width: 35%;
  background-color: #FCEADE;
  right: 250px;
  top: 15vh;
  box-shadow: 10px 10px 20px rgba(199, 198, 198, 0.692);
}
.AccessoriesSection .A-Box2{
  position: absolute;
  z-index: 99;
  width: 70%;
  min-height: 60vh;
  top: 20vh;
  left: 10%;
  background-color: #F4FAFC;
  display: flex;
  justify-content: space-evenly;


}
.AccessoriesSection .A-Box2 .left-box{
  height: 60vh;
  width: 45%;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: left;
  column-gap: 10px;

}
.AccessoriesSection .A-Box2 .right-box{
  height: 60vh;
  width: 45%;
  background-color: rgb(244, 244, 244);
  background: transparent;
 
  
}
.AccessoriesSection .A-Box2 .right-box img{
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* DetaisSection */
.DetaisSection{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.DetaisSection .D-box{
  width: 80%;
  min-height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
}

.DetaisSection .DetailsBox{
  height: 40vh;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/* Shop ALL page */
.SproductSection{
  min-height: 100vh;
  width: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  
}

.SproductSection-box1{
  width: 90%;
  min-height: 50px;
 display: flex;
 justify-content: space-between;
 align-items: center;
  
 
}
.SproductSection-box1 ul{
  display: flex;

  font-size: 16px;
  color: gray;
  font-weight: 400px;
  list-style: none;
 


}
.SproductSection-box1 ul li a{
  text-decoration: none;
  color: gray;
}

.SproductSection-box1 select{
  
  height: 40px;
 
  padding: 2px 5px 2px 5px;
  border: 1px dotted gray;
  outline: none;
  font-size: 14px;
  color: gray;


}
.SproductSection-box2{
  min-height: 80vh;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  
  margin-top: 40px;
  padding: 40px;
  gap: 40px;
}
.SProduct-box{
  width: 250px;
  min-height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  column-gap: 5px;

}

.SProduct-box .img-box{

  width: 100%;
  height: 40vh;
  
}

.SProduct-box .img-box img{
  width: 100%;
  height: 100%;
 
  background-size: cover;
}


/* Contact Page */

.contact-section {
  padding: 80px 10%;
  background: #f7fbfc;
  font-family: Arial, sans-serif;
}

.contact-title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 10px;
}

.contact-subtitle {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 60px;
  color: #555;
  font-size: 16px;
}

.contact-wrapper {
  display: flex;
  gap: 60px;
}


.contact-info {
  flex: 1;
}

.contact-info h3 {
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 12px;
  color: #333;
}

.contact-info .label {
  font-weight: bold;
}

.contact-info a {
  color: #e53935;
  text-decoration: none;
}

.socials {
  margin-top: 40px;
}

.icons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.contact-form {
  flex: 1;
}

.contact-form label {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
}

.contact-form span {
  color: red;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-top: 6px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #e53935;
}

.error {
  color: red;
  font-size: 12px;
}

.contact-form button {
  margin-top: 20px;
  padding: 12px 30px;
  background: #e53935;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #d32f2f;
}


/* About */
.about-section {
  background: #f7fbfc;
  padding: 80px 10%;
  font-family: Arial, sans-serif;
}


.about-hero {
  text-align: center;
  margin-bottom: 100px;
}

.about-hero h1 {
  font-size: 44px;
  margin-bottom: 20px;
}

.about-hero p {
  max-width: 700px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
}


.about-founders {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-bottom: 120px;
}

.founders-text {
  flex: 1;
}

.small-title {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #777;
}

.founders-text h2 {
  font-size: 36px;
  margin: 12px 0 20px;
}

.founders-text p {
  color: #555;
  line-height: 1.7;
  margin-bottom: 16px;
}

.founders-image {
  flex: 1;
}

.founders-image img {
  width: 100%;
  max-width: 420px;
  display: block;
  margin-left: auto;
}


.about-values {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.divider {
  display: block;
  width: 2px;
  height: 40px;
  background: #e53935;
  margin: 0 auto 20px;
}

.about-values h2 {
  font-size: 36px;
  margin: 20px 0;
}

.about-values p {
  color: #555;
  line-height: 1.7;
  margin-bottom: 16px;
}

.AddCart{
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
  margin-top: 50px;
  
 
}

.AddCart-box{
  width: 50%;
  min-height: 70px;
  
  display: flex;
  justify-content: space-between;
  
  align-items: center;
   margin-top: 20px;
   position: relative;
   margin-bottom: 50px;
   border-bottom: 2px solid rgba(128, 128, 128, 0.466);

}

.AddCart-box .img-box{
  height: 60px;
  width: 60px;

}
.AddCart-box .img-box img {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.AddCart-box .sub-box h5{
  font-size: 18px;
  font-weight: 600;
  margin: auto 0px auto 0px;

}
.AddCart-box .sub-box p ,span{
  font-size: 18px;
  font-weight: 500;
  margin: auto 0px auto 0px;
  

}

.AddCart-box .sub-box{
  height: 40px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  

}
.AddCart-box .sub-box button{
  position: absolute ;
  right: 20px;
}

/* Acount */
.auth-box {
  width: 320px;
  margin: 80px auto;
  padding: 20px;
  box-shadow: 0 0 10px #ddd;
  border-radius: 8px;
}

.auth-box input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

/* Product details page */

.product-page {
  display: flex;
  gap: 60px;
  padding: 60px;
  max-width: 1200px;
  margin: auto;
}


.product-left {
  flex: 1;
}

.main-img {
  background: #f4f9f9;
  padding: 40px;
}

.main-img img {
  width: 100%;
}

.thumbs {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.thumbs img {
  width: 80px;
  border: 2px solid transparent;
  cursor: pointer;
}

.thumbs img.active {
  border-color: red;
}

/* RIGHT */
.product-right {
  flex: 1;
}

.category {
  color: red;
  font-size: 14px;
}

.product-right h1 {
  font-size: 36px;
  margin: 10px 0;
}

.price {
  font-size: 24px;
  margin: 15px 0;
}

.price span {
  font-size: 14px;
  color: gray;
}

.desc {
  color: #555;
  line-height: 1.6;
}

.cart-row {
  display: flex;
  gap: 20px;
  margin: 25px 0;
}

.qty-box {
  display: flex;
  border: 1px solid #ccc;
}

.qty-box button {
  padding: 10px 15px;
  border: none;
  background: white;
  cursor: pointer;
}

.qty-box span {
  padding: 10px 15px;
}

.add-cart {
  background: #d32f2f;
  color: white;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
}

.payment-box {
  border: 1px solid #eee;
  padding: 15px;
  margin: 20px 0;
}

.cards img {
  height: 30px;
  margin-right: 10px;
}

.features {
  list-style: none;
  padding: 0;
}

.features li {
  margin: 8px 0;
}
