
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}


/* Navber */

#Nav{
 width: 100%;
 height: 70px;

 display: flex;
 justify-content: space-around;
 align-items: center;
 box-shadow: 0px 0.5px 0.5px rgba(128, 128, 128, 0.8);
 

}

/* Nav Link Btn */
#NavLink{
  width: 30%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items:center ;
  
}
#NavLink ul{
  list-style: none;
  gap: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}
#NavLink ul li a{
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
}

/* Logo */

#Logo{
  width: 20%;
  height: 60px;
 
  display: flex;
  flex-direction: column;
align-items: center;
justify-content:center ;

 
}

#Logo h3{
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

#Logo h6{
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}

/* NavFunc */

#Navfunc{
  width: 25%;
  height: 60px;
 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

}

#Navfunc #Nav-box button{
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: blueviolet;
}

#Navfunc span{
  position: absolute;
  right: 40px;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  font-size: 12px;

  color: white;
  top: 5px;
}

/*Hero section  */
.Section1{
  height: 90vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.HeroSubbox{
  width: 100%;
  min-height: 150px;

}
.HeroImg{
  width: 100%;
  height: 100%;
  background-image: url("./assets/heroImg.png");
  background-size: cover;
  object-fit: fill;
}

#HeroIcon{
  cursor: pointer;
  background-color: black;
}
#HeroIcon:hover{
  background-color: blueviolet;
}