
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}


/* Navber */

#Nav{
 width: 100%;
 min-height: 70px;

 display: flex;
 justify-content: space-around;
 align-items: center;
 box-shadow: 0px 0.5px 0.5px rgba(128, 128, 128, 0.8);
  position: relative;

}
/* Menu */
#Menu{
  
  position: absolute;
  width: 32px;
  height: 32px;
  left: 20px;


}
.Menu{
  visibility: hidden;
}


/* Nav Link Btn */
#NavLink{
  width: 30%;
  min-height: 50px;

  display: flex;
  justify-content: center;
  align-items:center ;
  
}
#NavLink ul{
  list-style: none;
  gap: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}
#NavLink ul li a{
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
}


/* Logo */

#Logo{
  width: 20%;
  height: 60px;
 
  display: flex;
  flex-direction: column;
align-items: center;
justify-content:center ;

 
}

#Logo h3{
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

#Logo h6{
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}

/* NavFunc */

#Navfunc{
  width: 25%;
  height: 60px;
 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

}

#Navfunc #Nav-box button{
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: blueviolet;
}

#Navfunc span{
  position: absolute;
  right: 40px;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  font-size: 12px;

  color: white;
  top: 5px;
}

/*Hero section  */
.Section1{
  min-height: 90vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.HeroSubbox{
  width: 100%;
  min-height: 150px;

}
.Section1 #Box2{
  height: 600px;
  width: 600px;
}
.HeroImg{
  width: 100%;
  height: 100%;
  
}
.HeroImg img{
  width: 100%;
  height: 100%;
  background-size: cover;
 
}

#HeroIcon{
  cursor: pointer;
  background-color: black;
}
#HeroIcon:hover{
  background-color: blueviolet;
}

/* Product section */
.ProductSection{
  width: 100%;
  min-height: 70vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Product-sub-box{
  width: 350px;
  height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  
}
.Product-sub-box .img-box{

  width: 100%;
  height: 50vh;
  
}

.Product-sub-box .img-box img{
  width: 100%;
  height: 100%;
 
  background-size: cover;
}

/* About Section  */

.AboutSection{
  min-height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  column-gap: 40px;
}

/* AccessoriesSection */

.AccessoriesSection{
  min-height: 100vh;
  width: 100%;
  position: relative;

}

.AccessoriesSection .A-Box1{
  position: absolute;
  height: 70vh;
  width: 35%;
  background-color: #FCEADE;
  right: 250px;
  top: 15vh;
  box-shadow: 10px 10px 20px rgba(199, 198, 198, 0.692);
}
.AccessoriesSection .A-Box2{
  position: absolute;
  z-index: 99;
  width: 70%;
  min-height: 60vh;
  top: 20vh;
  left: 10%;
  background-color: #F4FAFC;
  display: flex;
  justify-content: space-evenly;


}
.AccessoriesSection .A-Box2 .left-box{
  height: 60vh;
  width: 45%;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: left;
  column-gap: 10px;

}
.AccessoriesSection .A-Box2 .right-box{
  height: 60vh;
  width: 45%;
  background-color: rgb(244, 244, 244);
  background: transparent;
 
  
}
.AccessoriesSection .A-Box2 .right-box img{
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* DetaisSection */
.DetaisSection{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.DetaisSection .D-box{
  width: 80%;
  min-height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
}

.DetaisSection .DetailsBox{
  height: 40vh;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

