@media(max-width:480px){

#Nav{
    width: 100%;
    flex-direction: column;
}


.Menu{
    visibility: visible;
     left: 0px;
     top: 20px;
     cursor: pointer;
}



#Logo{
    width: 100%;
}
#Navfunc{
width: 100%;
}

.Section1{
    flex-direction: column;
    width: 100%;
}
.Section1 #Box1{

    width: 80%;
}
.Section1 #Box2{
    width: 400px;
    height: 400px;
    
}
.Section1 #Box2 .HeroImg{
     width: 400px;
    height: 400px;
}
.ProductSection{
    flex-direction: column;
    width: 100%;
   
    column-gap: 40px;
}
.ProductSection .Product-sub-box{
     margin-top: 80px;
}
.AboutSection{
    width: 100%;
    margin-top: 120px;
}
.AccessoriesSection{
    width: 100%;
    margin-top: 20px;


}
.AccessoriesSection .A-Box2{
    flex-direction: column;
    width: 100%;
    left: 0px ;
    
    justify-content: center;
    align-items: center;
   
   
}
.AccessoriesSection .A-Box2 .left-box{
 width: 90%;
}
.AccessoriesSection .A-Box2 .right-box{
    width: 90%;
}

.A-Box1{
    visibility: hidden;
}
.DetaisSection{
    width: 100%;
    margin-top: 350px;
}
.DetaisSection .D-box{
    flex-direction: column;

}
.SproductSection-box1{
    flex-direction: column;
}
 .contact-wrapper {
    flex-direction: column;
  }

  .about-founders {
    flex-direction: column;
    text-align: center;
  }

  .founders-image img {
    margin: 0 auto;
  }
  .AddCart-box{
    width: 100%;
    justify-content: space-evenly;
  }
  .AddCart-box .sub-box h5{
    font-size: 13px;
  }
  .AddCart-box .sub-box p ,span{
    font-size: 13px;

  }
  .AddCart-box .sub-box{
    width: 70%;
  }

  .product-page {
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }

  /* LEFT */
  .main-img {
    padding: 20px;
  }

  .thumbs {
    justify-content: center;
    flex-wrap: wrap;
  }

  .thumbs img {
    width: 60px;
  }

  /* RIGHT */
  .product-right h1 {
    font-size: 24px;
  }

  .price {
    font-size: 20px;
  }

  .desc {
    font-size: 14px;
  }

  .cart-row {
    flex-direction: column;
    gap: 15px;
  }

  .qty-box {
    width: 100%;
    justify-content: space-between;
  }

  .add-cart {
    width: 100%;
    padding: 14px 0;
  }

  .payment-box {
    text-align: center;
  }

  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .cards img {
    height: 26px;
  }

  .features li {
    font-size: 14px;
  }

}


